{% extends 'clientes/navbar.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/Forms-Reserva.css' %}" rel="stylesheet">
{%block load%}
{%endblock load%}
    <center>
        
    <h2 style="color: white"> Pedido do Take Away </h2>
    
    </center>
    <div class="container" >
        
        <h3 style="color: white">Informações do Pedido de Take Away</h3><br>
        <div class="row">
            <div class="col-sm-6">
                <div class="well" style="min-height: auto;">
                    {% for i in produtos %}
                    <div>
                   <h4>{{i.quantidade}}x {{i.produtoid.nome}}</h4>
                   <h4></h4>
                   </div>
                   {% endfor %}
                </div>
                <br>
                <a href="../VisualizarTakeAways"><button type="button" class="btn btn-danger"style=" width: 110px; height: 45px; font-size: 20px">Anterior</button></a>
            </div>
                </div>
            </div>
        </div>


    </div>
    </div>

    <br>

{% endblock %}