{% extends 'clientes/navbar.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/Forms.css' %}" rel="stylesheet">
{%block load%}
{%endblock load%}
    <div class="container">
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center>
                        <h4 class="modal-title">Ajuda</h4>
                        </center>
                    </div>
                    <div class="modal-body">
                        <p> <STRONG>Nesta página pode visualizar todos as tuas reservas </Strong> </p>
                        <p>Se pretender um restaurante em específico use a pesquisa(Ex: Nome: sa  irá encontrar todos os restaurantes que tenham sa no nome</p>
                        <p>Ao carregar em "Dia" irá ordenar por ordem da data que esta mais perto com o que esta mais longe</p>
                        <p>E se voltar a carregar na seta passa a ordenar da mais longe para mais perto</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="position: 100%; width: 115px; height: 50px; font-size: 20px">Ok!</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </ul>

    <div class="container">
        
        <center>
            <h2 style="color: white">As tuas Reservas de Take Away</h2>
        </center>
        <center>
            <h4 style="color: white"> {{message}} </h4>
        </center>  
        <br>
        <button style="float: right; " type="button" class="btn btn-default left" data-toggle="modal" data-target="#myModal3">Ajuda?</button>
    </center>
    <div class="container" >
        <ul class="nav nav-tabs">
            <li><a href="VisualizarReservas" style="color: black">Reservas no restaurante</a></li>
            <li class="dropdown">
         
            <li class="active"><a href="VisualizarTakeAways" style="color: black">Reservas Take Away</a></li>
        </ul>


        <div class="container" style="background:white; width: 100%; overflow-x:auto;">
            
            
            <form  method="get" action="">
                <h3> Pesquisar </h3>
            <div class="form-inline">
              <div >
                    <label for="nome">Restaurante:</label>
                    <input type="text" id="nome" name="nome" value="{{nome}}"><br><br>
              </div>
            
              <div>
                <label for="DataInicio">Data Inicial:</label>
                <input type="Date" id="DataInicio" name="DataInicio" value="{{DataInicio}}"><br><br>
                
            </div>
            <div>
                <label for="DataFim">Data Final:</label>
                <input type="Date" id="DataFim" name="DataFim" value="{{DataFim}}"><br><br>
                
            </div>
            <div>
                <button  class="btn btn-primary" type = "submit"> Pesquisar </button><br><br>
            </div>
            <br>
           
        <table class="table table-striped">

       <br>
          
            <thead>
                <tr>
                    
                    <th>
                        <a href="VisualizarTakeAways?nome={{nome}}&DataFim={{DataFim}}&DataInicio={{DataInicio}}&order_by=restauranteid&direction=0">
                        Nome Restaurante 
                        </a>
                        <a href="VisualizarTakeAways?nome={{nome}}&DataFim={{DataFim}}&DataInicio={{DataInicio}}&order_by=restauranteid&direction=1">
                        <span class="glyphicon glyphicon-chevron-down"> </span> </a>
                    </th>
                   
                    <th>Nome Cliente</th>
                    <th>Preço total</th>
                    <th>
                        <a href="VisualizarTakeAways?nome={{nome}}&DataFim={{DataFim}}&DataInicio={{DataInicio}}&order_by=dia&direction=0">
                        Dia 
                        </a>
                        <a href="VisualizarTakeAways?nome={{nome}}&DataFim={{DataFim}}&DataInicio={{DataInicio}}&order_by=dia&direction=1">
                        <span class="glyphicon glyphicon-chevron-down"> </span> </a>
                    </th>
                    <th>Hora de inicio</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </form>
                    
                </tr>
            </thead>

            {% for k in page_obj %}
               
                    <tr>
                        <td style="vertical-align: middle;">{{k.reservaid.restauranteid.nome}}</td>              
                        <td style="vertical-align: middle;">{{k.reservaid.nomecliente}} </td>
                        <td style="vertical-align: middle;">{{k.precototal}} €</td>
                        <td style="vertical-align: middle;">{{k.reservaid.dia}}</td> 
                        <td style="vertical-align: middle;">{{k.reservaid.horainicio}}</td> 
                        <td style="vertical-align: middle;"> <a href="{% url 'Takeaway_info' k.id %}" style = "color: #0000cc"><span class="glyphicon glyphicon-plus" ></span></a> </td> 
                        <td style="vertical-align: middle;"> <a href="EditarReserva/{{k.id}}" style = "color: #0000cc"><span class="glyphicon glyphicon-edit" ></span></a> </td>
                        <td style="vertical-align: middle;"><a data-toggle="modal" data-target="#{{k.id}}" style = "color: #0000cc"><span class="glyphicon glyphicon-remove" ></span> </a></td>
                        <!-- Modal -->
                        <div class="modal fade" id="{{k.id}}" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center>
                                        <h4 class="modal-title">ELiminar Reserva de Take Away</h4>
                                        </center>
                                    </div>
                                    <div class="modal-body">
                                        <p>Pretende eliminar a sua reserva de Take Away?</p> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"  style="width: 100px; height: 40px;" data-dismiss="modal" >Cancelar</button>
                                        <a href ="{% url 'EliminarTakeAway' k.id %}"> <button type="button"  style="width: 100px; height: 40px;" class="btn btn-danger" > Apagar </button> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </tr>
            {% endfor %}
                
                

            <tbody>
            </tbody>
        </table>
    </div>
    <br>
    <div>
    <a href="Restaurantes"> <button type="button" class="btn btn-success" data-dismiss="modal" style="min-width: 80px; height: 40px;">Criar Reserva</button> </a>
    
    </div>
    <center>
        {% include 'clientes/paginator.html' %}
        </center>
    <br>
        {% endblock %}
        
        
</body>