{% extends 'clientes/navbar.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/Forms.css' %}" rel="stylesheet">
{%block load%}
{%endblock load%}
    <div class="container">
       
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center>
                        <h4 class="modal-title">Ajuda</h4>
                        </center>
                    </div>
                    <div class="modal-body">
                        <p> <STRONG>Nesta página pode visualizar todos os restaurantes existentes </Strong> </p>
                        <p>Se pretender um restaurante em específico use a pesquisa(Ex: Nome: sa  irá encontrar todos os restaurantes que tenham sa no nome</p>
                        <p>Ao carregar em "Nome Restaurante" irá ordenar por ordem alfabética crescente pelos nomes dos restaurantes, se carregar na seta ao lado irá ordenar por ordem decrescente</p>
                        <p>Para ver mais informações de um restaurante carregue em cima do nome do restaurante</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="position: 100%; width: 115px; height: 50px; font-size: 20px">Ok!</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </ul>

    <div class="container">
        <center>
        <h2 style="color: white">Os nossos restaurantes</h2>
        
        
        </center>
        <button style="float: right; " type="button" class="btn btn-default left" data-toggle="modal" data-target="#myModal3">Ajuda?</button>
      <br><br>


        <div class="container" style="background:white; width: 100%; overflow-x:auto;">
            
            
            <form  method="get" action="Restaurantes">
                <h3> Pesquisar </h3>
            <div class="form-inline">
              <div >
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" value="{{nome}}">
              </div>
            
              <div>
                <label for="cidade">Cidade:</label>
                <input type="text" id="lname" name="cidade" value="{{cidade}}">
                <button  class="btn btn-primary" type = "submit"> Pesquisar </button>
            </div>
            </div>
        

                
            
            <br>
           
        <table class="table table-striped">

       <br>
          
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <a href="Restaurantes?nome={{nome}}&numerotelefone={{numerotelefone}}&cidade={{cidade}}&order_by=nome&direction=0">
                        Nome Restaurante 
                        </a>
                        <a href="Restaurantes?nome={{nome}}&numerotelefone={{numerotelefone}}&cidade={{cidade}}&order_by=nome&direction=1">
                        <span class="glyphicon glyphicon-chevron-down"> </span> </a>
                    </th>
                    <th>
                        Número de telefone
                    </th>
                   
                    <th><a href="Restaurantes?nome={{nome}}&numerotelefone={{numerotelefone}}&cidade={{cidade}}&order_by=cidade&direction=0">
                        Cidade
                        </a>
                        <a href="Restaurantes?nome={{nome}}&numerotelefone={{numerotelefone}}&cidade={{cidade}}&order_by=cidade&direction=1">
                        <span class="glyphicon glyphicon-chevron-down"> </span> </a>
                    </th>
                    
                    <th></th>
                    <th></th>
                    <th></th>
                </form>
                    
                </tr>
            </thead>

            {% for k in page_obj %}
               
                    <tr>
                        <td>
                        {% if k.imagem %}
                            <img id="image"  src="{{k.imagem.url}}" style="width: 190px; align: right" />
                        {% endif %}
                        </td>   
    

                        <td style="vertical-align: middle;">{{k.nome}}</td> <!-- ERFQWFWEQFWEQFWQFWQFWQFQWFWQFWQFQWFQWFQWFQWFQWQWF-->
                        
                        <td style="vertical-align: middle;">{{k.numerotelefone}}</td>
                      
                        <td style="vertical-align: middle;">{{k.cidade}}, {{k.distrito}} </td>
                        
                        <td style="vertical-align: middle;"> <a href="Make_Reserva/{{k.id}}"> Reservar </a> </td>
                        <td style="vertical-align: middle;"> <a href="Make_TakeAway/{{k.id}}"> Take Away </a> </td>
                        <td style="vertical-align: middle;"> Ver Menu </td>
                    </tr>
                {% endfor %}
                

            <tbody>
                
                
                
            </tbody>
            
        </table>



        <center>
        {% include 'clientes/paginator.html' %}
        </center>
    </div>
    <br>
        {% endblock %}
        
        
</body>
