{% if id_bar == 1 %}
{% include 'restaurantes/navbar.html' %}
{% elif id_bar == 6 %}
{% include 'clientes/navbar.html' %}
{% elif id_bar == 7%}
{% include 'adminSistema/navbar.html' %}
{% endif %}
{% block content %}


<div class="container text-center" style="width: 90%;height: 70%; margin-left:5%;">
    <h1 style="color: white">Notificações</h1>
    <br>
    <div class="row" style="height: 100%; ">
        <div class="col-sm-4" style="height: 100%;">
            <div class="well" style="height: 100%;">
            {% for k in page_obj %}  
            <a href="../notificacoes/{{k.id}}">
                {% if k.visto == 0 %}
                <button type="button" class="container" style="background: #A9A9A9; width: 100%; text-align: left; color: white" aria-hidden="true">    
                    <h4 style="white-space: pre-wrap;">{{k.notificacaoid.template}}</h4>
                    <h5 style="text-align:right; font-size:14px;"> {{k.data | date:'Y-m-d H:i'}} </h5>
                </button>
                {% else %}
                <button type="button" class=" container" style="background: white; width: 100%; text-align: left;  color:black" aria-hidden="true">    
                    <h4 style="white-space: pre-wrap;">{{k.notificacaoid.template}}</h4>
                    <h5 style="text-align:right; font-size:14px;"> {{k.data | date:'Y-m-d H:i'}} </h5>
                </button>
                {% endif %}
                <br><br>
            </a>

            
            {% endfor %}
        </center>
        <div style="position:absolute; bottom: 7px;text-align: center;">
            {% include 'notificacoes/paginator.html' %}
            </div>
            <center>
                   <br>
                       
            </div>
        </div>
        <div class="col-sm-8" style="height: 100%">
            <div class="well" style="height: 100%; text-align:left;">
                <div type="button" class=" container" style="background: white; width: 100%; text-align: left;  color:black" aria-hidden="true">  
                <h4 ><b> {{notif.notificacaoid.template}}</b> </h4>
                <p> <b> Enviada por: </b> {{func.nome}} <p>
                    {% if notif.pedidoid is not None%}
                    <p> <b> Mesa: </b>  {{notif.pedidoid.cadeiraid.mesaid.numero}} <p>
                    <p> <b> Sala: </b>  {{notif.pedidoid.cadeiraid.mesaid.salaid.nomesala}} <p>
                    {% endif %}
                    
                    {% if notif.menurestauranteid is not None %}
                    <p> <b> Menu: </b>  {{notif.menurestauranteid.nome}} <p>
                    <p> <b> Restaurante: </b>  {{notif.menurestauranteid.restauranteid.nome}} <p>
                    {% endif %}

                    {% if notif.nomerestaurante is not None %}
                    <p> <b> Restaurante: </b>  {{notif.nomerestaurante}} <p>
                    {% endif %}

                    {% if notif.funcionarioid.restauranteid is not None %}
                    <p> <b> Trabalha em: </b> {{notif.funcionarioid.restauranteid}} <p>
                    {% endif %}
                <p> <b> Enviada em: </b> {{notif.data|date:'Y-m-d H:i'}} </p>
                    </div>
            </div>
        </div>
    </div>
   


    
</div>
{%endblock%}