{% extends 'restaurantes/navbar.html' %}
{% block content %}
    <center>
        
    <h2 style="color: white"> Restaurante {{res}} </h2>
    </center>
    <div class="container">
        <ul class="nav nav-tabs">
            {% for s in salas%}
                {% if s.id == sala_id %}
                    <li class="active"><a href="" style="color: black">{{s.nomesala}}</a></li>
                {% else %}
                    <li><a href="{{s.id}}" style="color: white">{{s.nomesala}}</a></li>
                {% endif %}

            {% endfor %}
           
        </ul>
       
    <div class="container">
        
       <center>
        <h3 style="color: white">Visualizar mesas da sala {{sala}}</h3>
       </center>
       <button style="float: right; " type="button" class="btn btn-default left" data-toggle="modal" data-target="#myModal3">Ajuda?</button><br>
        <br>
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ajuda</h4>
                    </div>
                    <div class="modal-body">
                        <p> <STRONG>Nesta página pode visualizar todas as mesas da sala {{sala}} do restaurante {{res}} </Strong> </p>
                            <br>
                            <h3> Legenda das cores </h3>
                            <p>Castanho: mesa precisa de ser limpa</p>
                            <p>Vermelho: mesa ocupada</p>
                            <p>Azul: mesa reservada</p>
                            <p>Verde: mesa livre</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  style="min-width: 80px; height: 40px;" data-dismiss="modal" >Ok!</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background:white; width: 100%;">
            
    
            <div class="container" style="background:white; width: 100%;">
                <center>
                <div class="btn-group" style="width:100%">
                    {% for m in mesas %}
                        {% if m.limpeza == 0 %}
                        <a href="criarPedido"> <button style="width:20%; height: auto; margin-top: 15px; background-color: #804000; color: white;"><br>número: {{m.numero}}<br><br></button> &nbsp;</a>
                        {% elif m.ocupada == 1 %}
                        <a href="criarPedido"> <button style="width:20%; height: auto; margin-top: 15px; background-color: red; color: white;"><br>número: {{m.numero}}<br><br></button> &nbsp;</a>
                        {% elif m.reservada == 1 %}
                        <a href="criarPedido"><button  style="width:20%; height: auto; margin-top: 15px; background-color: blue; color: white;"><br>número: {{m.numero}}<br><br></button> &nbsp;</a>
                        {% else %}
                        <a href="criarPedido"><button  style="width:20%; height: auto; margin-top: 15px; background-color: green; color: white;"><br>número: {{m.numero}}<br><br></button> &nbsp;</a>
                        {%endif %}
                        
                    {% endfor %}

                    
                  </div>
                </center>
                <br>
                
            </div>
    </div>
</body>
{% endblock %}