{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{Pagina}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/Forms.css' %}" rel="stylesheet">

</head>
<style>
      
      .icon-button__badge {
        position: absolute;
        right: 0px;
        top: 7px;
        width: 15px;
        height: 15px;
        background: red;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      
</style>
{%block load%}
{%endblock load%}
<br><br>
    <div class="container" style="width: 50%">
        <center>
        <h2 style="color: white">Parece que está perdido </h2>
        
        
        </center>
    

        <div class="container" style="background:white; width: 100%; overflow-x:auto;">
            <center>
                <h3>Aqui encontram-se alguns links que lhe podem ajudar: <h3>
                <h4 style="color: blue;"><a href="{% url 'Login' %}">Login</a></h4>
                <h4 style="color: blue;"><a href="{% url 'CriarConta' %}">Criar conta</a></h4>
                <h4 style="color: blue;"><a href="{% url 'Restaurantes' %}">Os nossos restaurantes</a></h4>
                </center>
        </div>
        

    </div>
    <br>
     
        
        
</body>
