{% extends 'adminSistema/navbar.html' %}
{% block content %}

    <br><br><br>

    <div class="container text-center">
        <h1 style="color: white">Painel de Admistrador de Sistema</h1>
        <br><br><br>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3>Restaurantes</h3>
                    <br>
                    <p> Criar, visualizar, editar</p>
                    <p> e eliminar restaurantes</p>
                    <p>&nbsp; </p>
                    <a button type="button" style="background-color: black; color:white; width: 15%;" href="{% url 'VerRestaurantes' %}" class="btn button5">Ir</button> </a>
                    <p> </p>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="well">
                    <h3>Funcionários</h3>
                    <br>
                    <p>Criar, visualizar, editar</p>
                    <p> e eliminar funcionários</p>
                    <p>&nbsp; </p>
                    
                    <a button type="button" style="background-color: black; color:white; width: 15%;" href="{% url 'VerFuncionarios' 0 %}" class="btn button5">Ir</button> </a>
                    <p> </p>
                    
                </div>
            </div>
    
           
        </div>
    </div>
    </div>

</body>
{% endblock %}
</html>