{% extends 'adminSistema/navbar.html' %}
{% block content %}
    <center>
        
    <h2 style="color: white">Informações do restaurante {{restaurante}} </h2>
    
    </center>
    <div class="container">
 
    <br><br>
    <div class="container">
        
        <div class="row">
            <div class="col-sm-6">
                <div class="well" style="min-height: 500px;">
                    <h4><b>Estado:</b> {{restaurante.estado}}</h4>
                    <h4><b>Nome:</b> {{restaurante.nome}}</h4>
                    <h4><b>Número:</b> {{restaurante.numerotelefone}}</h4>
                    <br>
                    <h4><b>Cidade:</b> {{restaurante.cidade}}, {{restaurante.distrito}}</h4>
                    <h4><b>Código Postal:</b> {{restaurante.codigo}}</h4>
                    <h4><b>Rua:</b> {{restaurante.rua}}</h4>
                    <h4><b>Número e andar:</b> {{restaurante.numero_andar}}</h4>
                    <br>
                    <h4><b>Abertura:</b> {{restaurante.abertura|time:"H:i"}}</h4>
                    <h4><b>Fecho:</b> {{restaurante.fecho|time:"H:i"}}</h4>
                    {% if restaurante.abertura_tarde %}
                    <h4><b>Abertura:</b> {{restaurante.abertura_tarde|time:"H:i"}}</h4>
                    <h4><b>Fecho:</b> {{restaurante.fecho_tarde|time:"H:i"}}</h4>
                    {% endif %}
                    {% if restaurante.dia_fecho %}
                    <h4><b>Está fechado à:</b> {{restaurante.dia_fecho}}</h4>
                    {%endif %}
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="well" style="min-height: 500px;">
                    {% if imagem %}
                    <div style="width: 100%;">
                        <label for="image">Imagem do restaurante:</label><br>
                        <br>
                        <img id="image" src="{{imagem.url}}" style="width: 100%" />
                    </div>
                    </center>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
    </div>

    <br>

{% endblock %}